// Reset/normalize
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// @media (prefers-color-scheme: dark) {
//   html {
//     --color-primary: #0a192f;
//     --color-secondary: #172a45;
//     --text: #e7e7e7;
//   }
// }

html {
  scroll-behavior: smooth;
}

body {
  font-family: $body-font;
  font-size: $normal-font-size;
  font-weight: $font-default;
  @include set-background($color-primary);
  line-height: 1.6;
  height: 100%;
  max-width: 1024px;
  margin: auto;
}

h1,
h2,
h3,
span,
p {
  font-weight: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}
