$font-default: 300;
$font-semi: 600;
$font-bold: 700;

/* margin */
$mb-1: 0.5rem;
$mb-2: 1rem;
$mb-3: 1.5rem;
$mb-4: 2rem;
$mb-5: 3rem;

// color
:root {
  --color-primary: #ffffff;
  --color-secondary: #ffffff;
  --text-primary: #696969;
  --alt-color: #325eee;
}

// color
.darkmode {
  --color-primary: #0a192f;
  --color-secondary: #172a45;
  --text-primary: #ffffff;
  --alt-color: #325eee;
}

/* z-index */
$z-tooltip: 10;
$z-fixed: 100;

// Media queries
$break-small: 400px;
$break-medium: 768px;
$break-large: 1200px;

/* typography */
$body-font: "Raleway", sans-serif;
$title-font: "Source Sans Pro", sans-serif;
$big-font-size: 3rem;
$h1-font-size: 2rem;
$h2-font-size: 1.5rem;
$normal-font-size: 0.938rem;
$small-font-size: 0.75rem;

@media screen and (min-width: $break-medium) {
  /* typography */
  $big-font-size: 6rem;
  $h1-font-size: 2.25rem;
  $h2-font-size: 1.75rem;
  $normal-font-size: 1.2rem;
  $small-font-size: 0.813rem;
}
