.social {
  margin-top: $mb-2;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: $normal-font-size;

  &__link {
    font-weight: bold;
    display: inline-block;
    padding: 2px 3px;
    text-decoration: none;
    color: var(--alt-color);
  }

  &__large {
    display: none;
  }
}

@media screen and(max-width: $break-small) {
  .social {
    flex-direction: column;
  }
}

@media screen and (min-width: $break-medium) {
  .social {
    margin-top: $mb-2;
    width: 100%;
    display: flex;
    justify-content: space-between;

    &__link {
      transition: all 0.2s ease-in-out;
      font-weight: $font-semi;
      display: inline-block;
      padding: 2px 5px;
      text-decoration: none;
      box-shadow: inset 0 -3px 0 var(--alt-color);

      &:hover,
      &:focus,
      &:active {
        box-shadow: inset 0 -33px 0 0 var(--alt-color);
        color: white;
      }
    }

    .social {
      &__small {
        display: none;
      }
      &__large {
        display: block;
      }
    }
  }

  .social--header {
    margin: $mb-3 auto;

    .social__link {
      padding: 2px 10px;
    }
  }
}
