.toggle {
  position: absolute;
  top: 54px;
  right: 50px;
  width: 30px;
  height: 30px;

  & button {
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: var(--text-primary);
    border: 2px solid var(--text-primary);
    padding: 4px;
    background: transparent;
    cursor: pointer;
    border-radius: 5px;
    width: 30px;
    height: 30px;
  }
}

@media screen and (min-width: $break-medium) {
  .toggle {
    position: absolute;
    top: 74px;
    right: 50px;
    width: 30px;
    height: 30px;

    & button {
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }
}
