.social {
  margin-top: $mb-2;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__link {
    font-weight: bold;
    display: inline-block;
    padding: 2px 3px;
    text-decoration: none;
    color: $alt-color;
  }

  &__large {
    display: none;
  }
}

@media screen and(max-width: $break-small) {
  .social {
    flex-direction: column;
  }
}

@media screen and (min-width: $break-medium) {
  .social {
    margin-top: $mb-2;
    width: 100%;
    display: flex;
    justify-content: space-between;

    &__link {
      transition: all 0.2s ease-in-out;
      font-weight: 400;
      display: inline-block;
      padding: 2px 3px;
      text-decoration: none;
      box-shadow: inset 0 -3px 0 $alt-color;

      &:hover,
      &:focus,
      &:active {
        box-shadow: inset 0 -33px 0 0 $alt-color;
        color: $text-light;
      }
    }

    .social {
      &__small {
        display: none;
      }
      &__large {
        display: block;
      }
    }
  }
}
