.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  text-align: center;
  margin-bottom: $mb-4;

  &__copy {
    margin-bottom: $mb-2;
  }

  &__link {
    font-weight: bold;
    margin: 0 5px;

    &:hover {
      color: $alt-color;
    }
  }

  .social {
    margin: auto;
  }
}

@media screen and (min-width: $break-medium) {
  .footer {
    .social {
      width: 400px;
      margin: auto;
    }
  }
}
