.header {
  padding: 40px 30px;
  position: relative;

  // &__avatar {
  //   margin-bottom: $mb-3;
  //   margin-left: 5px;
  //   position: relative;
  //   width: 70px;
  //   height: 70px;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   cursor: pointer;
  // }

  &__title {
    font-size: $h2-font-size;
    margin-bottom: $mb-2;
    display: grid;
    justify-content: flex-start;
    grid-template-areas: "line name" "line location";
    font-weight: $font-semi;
    &::before {
      content: "";
      width: 3px;
      background-color: $alt-color;
      height: 100%;
      margin-right: 1rem;
      grid-area: line;
    }

    & h1 {
      grid-area: name;
      font-size: $h2-font-size;
    }

    & span {
      grid-area: location;
      font-size: $normal-font-size;
      color: $alt-color;
    }
  }
  &__heading {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  &__subtitle {
    font-size: $h1-font-size;
    font-weight: $font-semi;
    margin-bottom: $mb-2;
  }
  &__image {
    display: none;
  }
}

@media screen and (min-width: $break-medium) {
  .header {
    margin-bottom: $mb-2;
    &__title {
      font-size: $h2-font-size;
      margin-bottom: $mb-5;
      margin-top: $mb-4;

      &::before {
        width: 5px;
      }
    }
    &__subtitle {
      width: 50%;
      margin-bottom: $mb-4;
    }
    &__image {
      width: 50%;
      margin-left: $mb-4;
      margin-bottom: $mb-4;
      height: 100%;
      display: block;

      // filter: invert(1);
    }
  }
}
